# /etc/
etc/logs/
etc/usr/
etc/config/
etc/passwd
etc/sudoers
etc/ccpcBug
tmp/
stat/pkg/sources-list.txt
test.lua
update/
home/*

# /opt/
opt/*

# /bin/
bin/ink.lua
bin/ldisk.lua
bin/fetch.lua
bin/per.lua

# .settings
.settings