# /etc/
etc/logs/
etc/usr/
etc/config/
etc/passwd
etc/sudoers
etc/ccpcBug
etc/dump/*

# uncategorized
tmp/*
stat/pkg/sources-list.txt
test.lua
update/
home/*
var/dump/*

# /bin/
bin/ink.lua
bin/ldisk.lua
bin/fetch.lua
bin/per.lua
bin/cd.lua
bin/ls.lua
bin/edit.lua

# .settings
.settings